{% extends 'base.html' %}
{% block content %}
<div class='container'>
<div class ="card text-center bg-light">
	<div class ="card-body">
		<h1>Welcome To YourPoll</h1>
		<h3>(The polling App)</h3>
		<br/>
		<br/>
		<p>This is a polling application. <br/>Having various polls availabe. <br/>This application is built using Django framework.</p>
		
		<br/>
		<br/>
		<br/>
		<a class ="btn btn-primary" href ="{% url 'polls:index' %}">
			View Available Polls
		</a>
	</div>
</div>
</div>
{% endblock %}
